<div class="row">
  <div class="col-md-12 login-from-row">
    <input name="email" type="email" class="form-control {{#if error.email }}is-invalid{{/if}}" id="email" placeholder="Enter email" value="{{ user.email }}">
    {{#if error.email}}
      <div class="invalid-feedback">
        {{error.email}}
      </div>
    {{/if}}
  </div>
</div>