<nav class="d-flex bd-highlight mb-3 navbar navbar-light">
  <div class="mr-auto p-2 bd-highlight navbar-brand">
    LOGO SPORTMEET
  </div>
  <div class="p-2 bd-highlight">
    <a href="/">Home</a>
  </div>
  <div class="p-2 bd-highlight">
  {{#if (eq user.__type "Player")}}
    <a href="/players/{{user.username}}/edit">Edit profile</a>
  {{else}}
    <a href="/clubs/{{user.name}}/edit">Edit club</a>
  {{/if}}
  </div>
  <div class="p-2 bd-highlight">
    {{>logout}}
  </div>
</nav>