<div class="row">
  <div class="col-md-12 login-from-row">
    <input name="password" type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password" placeholder="Password">
    {{#if error.password}}
      <div class="invalid-feedback">
        {{error.password}}
      </div>
    {{/if}}
  </div>
</div>