<div class="row">
  <div class="col-md-12 login-from-row">
    <input type="text" class="form-control {{#if error.surname }}is-invalid{{/if}}" id="surname" name="surname" placeholder="Surname" value="{{ user.surname }}">
    {{#if error.surname}}
      <div class="invalid-feedback">
        {{error.surname.message}}
      </div>
    {{/if}}
  </div>
</div>