<div class="container">
  <div class="row text-center login-page">
	   <div class="col-md-12 login-form">
	      <form action="/login" method="POST">
          {{>titleForm}}		
	        {{>emailForm}}  
          {{>passwordForm}}
		      <div class="row">
		        <div class="col-md-12 login-from-row">
		          <button class="btn btn-info">Sing in</button>
		        </div>
		      </div>
          <div class="row">
		        <div class="col-md-12 login-from-row">
              <p>Don't have an account?</p>
              <p>
                Sing up as a
                <a href="/players/new"><b>Player</b></a>
                or as a
                <a href="/clubs/new"><b>Club</b></a>
              </p>
		        </div>
		      </div>
	      </form>
	    </div>
    </div>
</div>
