<div class="container">
  {{>navbar}}
  <div class="row text-center login-page">
	   <div class="col-md-12 login-form">
	      <form action="/players/{{user.username}}/sports/new" method="POST">
          {{>titleForm}}
          {{>sportsForm}}
		      <div class="row">
		        <div class="col-md-12 login-from-row">
		          <button class="btn btn-info">Add</button>
		        </div>
		      </div>
	      </form>
	    </div>
    </div>
</div>