<div class="container">
  <div class="row text-center login-page">
	   <div class="col-md-12 login-form">
	      <form action="/players/{{user.username}}/sports/new" method="POST">
          {{>titleForm}}
          <label>Add a sport:</label>
            <select name="sport">
              {{#each sport as |sport|}}
                <option value="{{sport.id}}" id="{{sport.id}}">{{sport.name}}</option>
              {{/each}}
            </select>
		      <div class="row">
		        <div class="col-md-12 login-from-row">
		          <button class="btn btn-info">Add</button>
		        </div>
		      </div>
	      </form>
	    </div>
    </div>
    {{>footer}}
</div>