<div class="container">
  <div class="row text-center login-page">
	   <div class="col-md-12 login-form">
	      <form action="/clubs" method="POST" enctype="multipart/form-data">

	        <div class="row">
		        <div class="col-md-12 login-form-header">
		          <p class="login-form-font-header">New<span>Club</span><p>
		        </div>
		      </div>

          {{>nameForm}}
          {{>emailForm}}
          {{>passwordForm}}
          {{>addressForm}}
          {{>cityForm}}
          {{>photoForm}}
          {{>timeForm}}

          <div class="col-md-12 login-from-row">
            <button class="btn btn-info">Sign up</button>
          </div>

          <div class="row">
		        <div class="col-md-12 login-from-row">
              <p>Already have an account?</p>
              <p>
                <a href="/login"><b>Sign in</b></a>
              </p>
		        </div>
		      </div>

	      </form>
	    </div>
    </div>
</div>