<div class="container">
  {{>navbar}}
  <div class="row text-center login-page">
	   <div class="col-md-12 login-form">
	      <form action="/clubs/{{user.name}}/courts/add" method="POST">
          {{>titleForm}}
          <div class="row">
            <div class="col-md-12 login-from-row">
              <input name="courtName" type="text" required="true" class="form-control" id="courtName" placeholder="Court name">
            </div>
          </div>
          {{>sportsForm}}
          <select name="indoorOrOutdoor">
              <option value="indoor">indoor</option>
              <option value="outdoor">outdoor</option>
          </select>
		      <div class="row">
		        <div class="col-md-12 login-from-row">
		          <button class="btn btn-info">Add</button>
		        </div>
		      </div>
	      </form>
	    </div>
    </div>
</div>