<div class="container">
  {{>navbar}}
  <div class="row text-center login-page">
	   <div class="col-md-12 login-form">
	      <form action="/clubs/{{user.name}}/courts/add" method="POST">
          {{>titleForm}}
          {{>nameForm}}
          {{>sportsForm}}
          <select name="sport">
              <option name="indoorOrOutdoor" value="indoor">indoor</option>
              <option name="indoorOrOutdoor" value="outdoor">outdoor</option>
          </select>
		      <div class="row">
		        <div class="col-md-12 login-from-row">
		          <button class="btn btn-info">Add</button>
		        </div>
		      </div>
	      </form>
	    </div>
    </div>
</div>